body{
    background-color: gainsboro;
    margin: auto;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: blue;
    margin: 0;
    padding: 0;   
}
h1{
    margin: 0;
    padding: 0;
    color: royalblue;
    width: 100%;
}
h1 input{
    float: right;
    margin: 5px;
    background-color: lightblue;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: blue;
}
nav li {
    float: left;
}
nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 5px 15px;
    text-decoration: none;
}
nav li a:hover {
    background-color: darkblue;
}
div.outerbox{
    width: 675px;
    overflow: hidden;
}
div.sliderbox{
    position: relative;
    width: 2700px;
    animation-name: advertisement;
    animation-duration: 20s; 
    animation-iteration-count: infinite;   
}
div.sliderbox img{
    width: 675px;
    float: left;
}
@keyframes advertisement{
    0%
    {
      left: 0px;  
    }
    20%
    {
       left: 0px; 
    }
    25%
    {
       left: -675px;
    }
    45%
    {
        left: -675px;
    }
    50%
    {
        left: -1350px;
    }
    70%
    {
        left: -1350px;
    }
    75%
    {
        left: -2025px;
    }
    95%
    {
        left: -2025px;
    }
    100%
    {
        left: -2700px;
    }
}
div.content{
    margin: 5px;
    border: 1px solid lightblue;
    float: left;
    width: 180px;
    padding: 10px;
    text-align: center;
}
div.content img{
    width: 100%;
    height: 150px;
}
div.products{
    margin: 5px;
    border: 1px lightblue;
    float: left;
    width: 180px;
    padding: 10px;
    height: 500px;
}
div.products img{
    width: 100%;
    height: auto;
}
div.main img{
    width: 100%;
    height: 250px;
}
div.author img{
    width: 40%;
    height: 200px;
}
form{
    margin: 50px;
}
label input{
    background-color: lightgreen;
}
label textarea{
    background: lightgreen;
}
footer{
    background: blue;
    width: 100%; 
    overflow: hidden;
    opacity: 0.90;
}
footer p{
    color: white;
}
@media only screen and (max-width: 578px){
    body{
        background-color: lightseagreen;
        position: absolute;
    }
}
@media only screen and (max-width: 578px){
    header{
        position: absolute;
    }
    h1 input{
    float: right;
    margin: 5px;
    background-color: lightblue;
    }
    nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: blue;
    }
    nav li {
    float: left;
    }
    nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 2px 10px;
    text-decoration: none;
    }
    nav li a:hover {
    background-color: darkblue;
    }    
}
@media only screen and (max-width: 360px){
    body{
       background-color: cadetblue;
    }
}